<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
    <h1>Libreria el patito</h1>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <img class="img-principal" src="../assets/img/libros.jpg">
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-3">
    <h3>¿Quienes somos?</h3>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
        <h5>Somos una libreria nueva</h5>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <img class="img-secundaria" src="../assets/img/patito.jpg">
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <div class="row">
      <div class="col-4 d-flex justify-content-center">
        <div routerLink="/libros" class="circulo text-center pointer">
          <i class="fa fa-book icono"></i>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div routerLink="/libros" class="circulo text-center pointer">
          <i class="fa fa-user-o icono"></i>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="circulo text-center">
          <i class="fa fa-phone icono"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="row mt-3">
      <div class="col-12">
        <h3>Los mas vendidos</h3>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/piedra.jpg" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y la piedra filosofal.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/camara.jpg" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y cámara secreta.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/prisionero.jpg" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y Azkaban.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/caliz.jpg" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y el cáliz de fuego.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/orden.JPG" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y la orden del fenix.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="../assets/img/libros/misterio.jpg" class="card-img-top">
          <div class="card-body">
            <p>Harry Potter y el misterio del principe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
