.img-principal{
  max-height: 25pc;
  width: 100%;
  height: 100%;
}
.img-secundaria{
  height: 100%;
  width: 100%;
}
.circulo {
     width: 125px;
     height: 125px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #333;
     margin: 25px auto;
}
.icono{
  font-size: 50px;
  color:#fff;
  margin: 25% auto;
}
.pointer{
  cursor: pointer;
}
