<h1>Listado de libros</h1>
<hr>
<div class="row">
  <div class="col-xl-11 col-lg-11 col-md-7 col-7">
    <div class="form-group">
      <input type="text" class="form-control" name="buscador" placeholder="Buscar nombre del libro" [(ngModel)]="filterlibros">
    </div>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-5 col-5">
    <button routerLink="/libro/nuevo"
      class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>
<hr>
<div class="table-responsive">
  <table *ngIf="!cargando && libros.length > 0" class="table table-striped mt-3 animated fadeIn slow">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Autor</th>
          <th scope="col">Editorial</th>
          <th scope="col">Idioma</th>
          <th scope="col">Edición</th>
          <th scope="col">Herramientas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros | filter:filterlibros ; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{libro.nombre | uppercase}}</td>
          <td>{{libro.autor}}</td>
          <td>{{libro.editorial}}</td>
          <td>{{libro.idioma}}</td>
          <td>{{libro.edicion}}</td>
          <td>
            <button [routerLink]="['/libro',libro.id]" class="btn btn-info mr-1">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger"
            (click)="borrarLibro( libro, i )">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn slow">
  <h4>Cargando</h4>
  <p>
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>

<div *ngIf="!cargando && libros.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn slow">
  <h4>No tenemos registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>
