<h1>Libro <small>Nombre del libro</small></h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button routerLink="/libros"
      class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row mt-3 animated fadeIn slow">
  <div class="col">
    <form class="row"
          (ngSubmit)="guardar(f)"
          #f="ngForm">

      <div class="col-12 form-group">
        <label>Firebase Id</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="libro.id"
               name="id"
               placeholder="Firebase Id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es de firebase</small>
      </div>

      <div class="col-12 form-group">
        <label>Nombre</label>
        <input type="text"
               class="form-control"
               placeholder="Nombre del libro"
               [(ngModel)]="libro.nombre"
               name="nombre"
               required>
      </div>

      <div class="col-6 form-group">
        <label>Autor</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="libro.autor"
               name="autor"
               placeholder="Autor del libro">
      </div>

      <div class="col-6 form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="libro.vivo"
                (click)="libro.vivo = false"
                class="btn btn-outline-success w-100"
                type="button">
          <i class="fa fa-smile-o"></i>
          Vivo
        </button>
        <button *ngIf="!libro.vivo"
                (click)="libro.vivo = true"
                class="btn btn-outline-danger w-100"
                type="button">
          <i class="fa fa-frown-o"></i>
          Muerto
        </button>

      </div>

      <div class="col-4 form-group">
        <label>Editorial</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="libro.editorial"
               name="editorial"
               placeholder="Editorial del libro">
      </div>

      <div class="col-4 form-group">
        <label>Idioma</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="libro.idioma"
               name="idioma"
               placeholder="Idioma del libro">
      </div>

      <div class="col-4 form-group">
        <label>Año edición</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="libro.edicion"
               name="fecha"
               placeholder="Año edición">
      </div>

      <div class="col-12 form-group">
        <label>Descripción</label>
        <textarea type="text"
               class="form-control"
               [(ngModel)]="libro.descripcion"
               name="descripcion"
               placeholder="Descripción del libro"
               rows="3">
        </textarea>
      </div>

      <hr>

      <div class="col-12 form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
