<h1>Listado de autores</h1>
<hr>
<div class="row">
  <div class="col-xl-11 col-lg-11 col-md-7 col-7">
    <div class="form-group">
      <input type="text" class="form-control" name="buscador" placeholder="Buscar nombre de autores" [(ngModel)]="filterAutores">
    </div>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-5 col-5">
    <button routerLink="/autor/nuevo"
      class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table *ngIf="!cargando && autores.length > 0"
  class="table table-striped mt-3 animated fadeIn slow">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nacionalidad</th>
      <th scope="col">Nacimiento</th>
      <th scope="col">Idioma</th>
      <th scope="col">Edad</th>
      <th scope="col">Herramientas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let autor of autores | filter:filterAutores; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{autor.nombre}}</td>
      <td>{{autor.nacionalidad}}</td>
      <td>{{autor.nacimiento}}</td>
      <td>{{autor.idioma}}</td>
      <td>{{autor.edad}}</td>
      <td>
        <button [routerLink]="['/autor',autor.id]"
                class="btn btn-info mr-1">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger"
                (click)="borrarAutor( autor, i )">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn slow">
  <h4>Cargando</h4>
  <p>
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>

<div *ngIf="!cargando && autores.length === 0"
  class="alert alert-warning text-center mt-3 animated fadeIn slow">
  <h4>No tenemos registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>
