<h1>Autor <small>nombre autor</small></h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button routerLink="/autores"
      class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row mt-3 animated fadeIn slow">
  <div class="col">
    <form class="row"
          (ngSubmit)="guardar(f)"
          #f="ngForm">

      <div class="col-12 form-group">
        <label>Firebase Id</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="autor.id"
               name="id"
               placeholder="Firebase Id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es de firebase</small>
      </div>

      <div class="col-12 form-group">
        <label>Nombre</label>
        <input type="text"
               class="form-control"
               placeholder="Nombre del Autor"
               [(ngModel)]="autor.nombre"
               name="nombre"
               required>
      </div>

      <div class="col-6 form-group">
        <label>Nacionalidad</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="autor.nacionalidad"
               name="autor"
               placeholder="Nacionalidad">
      </div>

      <div class="col-6 form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="autor.vivo"
                (click)="autor.vivo = false"
                class="btn btn-outline-success w-100"
                type="button">
          <i class="fa fa-smile-o"></i>
          Vivo
        </button>
        <button *ngIf="!autor.vivo"
                (click)="autor.vivo = true"
                class="btn btn-outline-danger w-100"
                type="button">
          <i class="fa fa-frown-o"></i>
          Muerto
        </button>

      </div>

      <div class="col-4 form-group">
        <label>Año nacimiento</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="autor.nacimiento"
               name="nacimiento"
               placeholder="Año nacimiento">
      </div>

      <div class="col-4 form-group">
        <label>Idioma</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="autor.idioma"
               name="idioma"
               placeholder="Idioma">
      </div>

      <div class="col-4 form-group">
        <label>Edad</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="autor.edad"
               name="fecha"
               placeholder="edad">
      </div>

      <div class="col-12 form-group">
        <label>Descripción</label>
        <textarea type="text"
               class="form-control"
               [(ngModel)]="autor.descripcion"
               name="descripcion"
               placeholder="Descripción"
               rows="3">
        </textarea>
      </div>

      <hr>

      <div class="col-12 form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
